body {
    background-color: #1C1719;
} 

/* Nav elements*/

nav {
    padding-bottom: 30px;
} .navbar {
    background-color: #389c93;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
} .navLink {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    justify-content: left;
} .navDeco {
    margin-left: auto;
    order: 2;
} .navText {
    order: 2;
} .navLink:hover {
    border-radius: 5px;
    background-color: #256661;
} #aboutImg {
    margin-bottom: 10px;
    max-width: 700px;
    height: fit-content;
    box-shadow: 0px 0px 3px 1px #000;
}



#titleText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;    
    height: 55px;
} * {
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

/*Page Layout Styling*/

.mainContainer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} .contents {
    background-color: hsl(333,10%,15%);
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    min-height: 200px;
    width: 1400px;
    box-shadow: 0px 0px 3px 0.5px #000;
    line-height: 1.5;
} .contentText {
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
} #paraText {
    font-size: 14px;
} 

/* Gallery Elements */

.galContainer {
    max-width: 1200px;
    position: relative;
    margin: auto;
} .galItems {
    display: none;
} .galPrevButton, .galNextButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} .galNextButton {
    right: 0;
    border-radius: 3px 0 0 3px;
} .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
} .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.4);
    top: 0;
} .text {
    color: #FFF;
    text-shadow: 0px 0px 2px #000;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
} .galDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} .active, .galDot:hover {
    background-color: #717171;
} .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

